body {font-size: 8pt; font-family: verdana, arial;}

label {display: block;}

h1, h2, h3, h4{font-family: verdana, arial}
h1 {font-size: 2.5em;}

.summary-section {padding: 10px 0 px 10px 0px;  border-top: 1px solid #777; margin-bottom: 10px;}

header{padding: 10px; background-color: #DDD; color: #555; font-weight: bold; font-size: 1.8em;}

.pp-container{padding: 10px;}
.left-nav{float: left; width: 200px; padding: 5px; background-color: #EEE;}
.left-nav ul li a{color: #555;}
.right-content{margin-left: 225px; padding: 10px;}

.pp-done{font-weight: bold; color: #00AA00; font-size: 2em;}